#view-page{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.view-page-background{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: clamp(700px, 85vh, 900px);
    width: clamp(350px, 75vw, 1000px);
    padding-top: 5vh;
}

.view-text{
    width: max(85%, 300px) !important;
}