.custom-input-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: clamp(5px, 2.5vh, 10px);
}

.custom-input{
    height: clamp( 30px, 5vh, 50px);
    width: clamp(300px, 70vw, 800px);
    font-size: clamp(12px, 5vw, 30px);
}

.custom-input-label{
    font-size: clamp(8px, 5vw, 17px);
    width: clamp(300px, 70vw, 800px);
    text-align: left;
}