#image-input {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min(max(60vh, 350px), 300px);
    width: min(max(60vh, 350px), 300px);
    position: relative;
    overflow: hidden; 
    border-radius: 50%; 
}

#image-input img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    border-radius: 50%;  
    display: block;
}

.image-input-remove-button {
    position: absolute;
    color: red;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
}
